<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML API</title>
</head>
<body>
    <h1>Model Prediksi</h1>
    <form action="{{ url_for('predict') }}" method="post">
        <input type="text" name="Berat" placeholder="Berat (kg)" required="required" />
        <input type="text" name="Tinggi" placeholder="Tinggi (cm)" required="required" />
        <input type="text" name="LingkarKepala" placeholder="Lingkar Kepala (cm)" required="required" />
        <input type="text" name="UsiaUkur" placeholder="Usia Ukur (bulan)" required="required" />
        <input type="text" name="JenisKelamin" placeholder="Jenis Kelamin" required="required" />
        <button type="submit">Predict</button>
    </form>
    <h1 id="predi">{{ prediction_text }}</h1>
</body>
</html>