body {
    background-image: url("kesehatan.jpg");
    background-size: cover; /* Menyesuaikan gambar dengan ukuran layar */
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 500px;
    color: #4CAF50; /* Mengubah warna teks menjadi hijau */
}

h1 {
    margin-left: 100px;
    color: #4CAF50; /* Mengubah warna judul menjadi hijau */
}

input {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-bottom: 4px solid black;
}

button {
    background-color: #4CAF50; 
    color: white;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 170px;
}

#predi {
    margin-left: 60px;
    color: #4CAF50; /* Mengubah warna teks prediksi menjadi hijau */
}